global
    log stdout format raw local0
    maxconn 2048

defaults
    mode http
    log global
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend cars_front
    bind *:8090
    default_backend cars_back

backend cars_back
    balance roundrobin
    option httpchk GET /health
    server cars1 127.0.0.1:3001 check inter 5s fall 3 rise 2
    server cars2 127.0.0.1:3002 check inter 5s fall 3 rise 2
    server cars3 127.0.0.1:3003 check backup
